.wrapper{
    width: 1000px;
}

.sub-title{
    font-size: 25px;
    font-weight: bold;
    color: "#000";
    text-align: center;
}

.contest-box, .job-box{
    width: 100%;
    max-width: 1000px;
    margin: 50px 0px;
}

.contest, .job{
    width: 100%;
}

#contest-table, #job-table{
    width: 100%;
    max-width: 1000px;
    margin: 20px 0px;
    border-collapse: collapse;
    border-style: bold;
    border-width: 1px;
    table-layout: fixed;
}

.content-table-head, .job-table-head{
    width: 100%;
}

#contest-table-body, .job-table-body{
    width: 100%;
    max-width: 1000px;
}

#contest-table th, #job-table th{
    font-size: 12px;
    color: #555;
    font-weight: bold;
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4;
    padding: 7px;
}

#contest-table td, #job-table td{
    font-size: 12px;
    height: 20px;
    color: #555;
    text-align: center;
    border: 1px solid #e4e4e4;
    padding: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#contest-form, #job-form{
    width: 100%;
    margin: 0 auto;
}

#contest-form-box, #job-form-box{
    padding: 0px;
    margin: 0 auto;
    width: 100%;
}

.contest-form-field-item, .job-form-field-item{
    font-size: 20px;
    text-align: center;
    width: 32%;
    margin: 0px;
    border-width: 0px;
    display: inline-block;
}

.contest-form-text, .job-form-text{
    width: 100%;
    margin: 0 auto;
}

#contest-date, #contest-content, #contest-link, #job-date, #job-content, #job-link{
    width: 32%;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.contest-button-box, .job-button-box{
    width: 100%;
    margin: 0 auto;
}

#contest-form-button, #job-form-button{
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #555;
    border-color: #31323a;
    border-width: 1px;
    border-style: solid;
    padding: 8px 0;
    margin: 16px 0;
}